@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,800&display=swap');

body {
  margin: 20px 250px;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #112138;
  color: #EDEDED;
  border: 1px white solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
